
<div class="row">

<div class = "loginForm">
<h3>Sign Up!</h3>
	<div class="col">

		<form #f="ngForm" (ngSubmit)="register(f)">
			<div class="form-group">
				<input #username="ngModel" placeholder="username" 
					type="text" class="form-control" [(ngModel)]="model.username"
					name="username" id="username" required>
				<div class="alert alert-danger"
					*ngIf="username.touched && username.invalid">Username is
					required</div>
			</div>
			<div class="form-group">
				<input #email="ngModel" placeholder="email address" 
					type="email" class="form-control" [(ngModel)]="model.email" 
					pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
					name="email" id="email" required>
				<div class="alert alert-danger"
					*ngIf="email.touched && email.invalid">Email address is
					invalid</div>			

					
			</div>
			<div class="form-group">
				<input #password="ngModel" placeholder="password" 
					type="password" class="form-control" [(ngModel)]="model.password"
					name="password" id="password" required>
				<div class="alert alert-danger"
					*ngIf="password.touched && password.invalid">Password is
					required</div>
			</div>
			<div class="form-group">
				 <input placeholder="confirm password" 
					#confirmpassword="ngModel" type="password" class="form-control"
					[(ngModel)]="model.confirmpassword" name="confirmpassword"
					id="confirmpassword" required>
				<div class="alert alert-danger"
					*ngIf="confirmpassword.touched && confirmpassword.invalid">Password
					is required</div>
			</div>
			<button class="btn btn-primary">Register</button>
		</form>
	</div>
	</div>
</div>
